<!DOCTYPE html>
<html>
<head>
  <title>Result</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="jumbotron">
	<center>
	<h1>Required Person Are:</h1>
	<div class="container" style='font-size:32px;'>
	<div class="col-sm-3"></div>
	<div class="col-sm-6">
		<ul>
			<%if (free_student!=undefined){%>
				<%free_student.forEach(function(student){%>
					<li>
						<%=student%>
					</li>
				<%});%>
			<%}%>
		</ul>
	</div>
	<div class="col-sm-3"></div>
	</div>
</div>
</center>
</body>
</html>