<!DOCTYPE html>
<html>

<head>
	<title>Result</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
	<nav class='navbar navbar-inverse' style='border-radius:0;margin-bottom:0'>
<div class='container-fluid'>
	<div class='navbar-header'>
		<a href='#' class='navbar-brand'>FreeSlotsCalculater</a>
		<button class="navbar-toggle" type='button' data-toggle='collapse' data-target='#mynavbar'>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
	</div>
	<div class='collapse navbar-collapse' id='mynavbar'>
		<ul class="nav navbar-nav navbar-right">
			<li><a href='/slots/logout'>Logout</a></li>
			<li><a href='/slots'>Try Again</a></li>
		</ul>
	</div>

</div>
</nav>
<div class="jumbotron" style='background-color:#FF9E80;color:white;'>
<center>
	<h1>Free Members</h1>
</center>
</div>
<div class="container" style='font-size:32px;'>
<div class="col-sm-3"></div>


<div class="col-sm-6">

	<%if (free_student!=undefined){%>
		<%free_student.forEach(function(student){%>
			<center>
				<%=student%>
			</center>
			<%});%>
				<%}%>

</div>
<div class="col-sm-3"></div>
</div>

</body>

</html>