<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta property="og:url" content="http://vitfreeslot.herokuapp.com/" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="VitFreeSlots" />
	<meta property="og:description" content="Find out if your when your friend are free" />
	<meta property="og:image" content="http://vitfreeslot.herokuapp.com/public/images/fb_display.png" />
	<meta property="og:image:type"       content="image/png">
	<meta property="og:image:width"      content="20">
	<meta property="og:image:height"     content="50">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
	<title>VITFreeSlots</title>
	<link rel="icon" type="text/icon" href="/images/icon_1.png">
	<style>
		body{
			background-image:url('/images/fb_display.png');
			color: white;
			/*filter:blur(5px);*/
		}
	</style>
</head>
<body >
	<div class="background-image"></div>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=549803961892673";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


	<div class='page-wrap'>
		<div class="jumbotron text-success" style='background-color:transparent;color:white;height:300px'><br><br>
<center>
	<h1 style="font-size:150px; font-family: 'Quicksand', sans-serif;">VIT Free Slots</h1>
</center>
</div>

<div class="container" style='margin-top:5%;'>
<div class="col-sm-3"></div>
<div class="col-sm-6">
	<form method='post' action='/mail' enctype='form-data/multipart'>
		<div class="form-group">
			<label for='club_name' >Club Name</label>
			<input type='text' name='club_name' class='form-control'>

		</div>
		<div class="form-group">
			<label for='email'>Email</label>
			<input type='email' name='email' class='form-control'>

		</div>

		<center>
			<br>
			<div class="form-group">
				<input type='submit' class='form-control btn-danger' style='width:50%;' value='SUBMIT'>
</div>
</center>
</form>
<center>
	<a href='/index' class='btn btn-success btn-md'>Already have a referral code ?</a>
</center>
</div>
<div class="col-sm-3"></div>
</div>
<center>
	<div style="color:red;margin-top:20px">
<%if(message!=undefined){%>
	<%=message%>
		<%}%>
			</div>
			</center>

			</div>

			<footer style="background-color:transparent;color:white;margin-top:45px;padding:30px;" class='site-footer'>
<div class="container-fluid">
	<div class="col-sm-4">
		<center><a href='https://github.com/lakshaykapoor7198' style: "color:white"><font style='color:white;'>@lakshaykapoor7198</font>
</a>
</center>
</div>
<div class="col-sm-4">
	<center>
		<div class="fb-like" data-href="http://vitfreeslot.herokuapp.com/" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-colorscheme="dark" data-share="true"></div>			
</center>
</div>
<div class="col-sm-4" style: "color:white">
	<center><a href='https://github.com/mayankagg9722' style: "color:white"><font style='color:white;'>@mayankagg9722</font>
</a>
</center>
</div>

</div>
</footer>
</body>

</html>