<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <title>SelectSlots</title>
  <link rel="icon" href="/images/icon_1.png">
</head>
<body>
<nav class='navbar navbar-inverse' style='border-radius:0;margin-bottom:0'>
<div class='container-fluid'>
	<div class='navbar-header'>
		<a href='#' class='navbar-brand'>FreeSlotsFinder</a>
		<button class="navbar-toggle" type='button' data-toggle='collapse' data-target='#mynavbar'>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
	</div>
	<div class='collapse navbar-collapse' id='mynavbar'>
		<ul class="nav navbar-nav navbar-right">
			<li><a href='/slots/logout'>Logout</a></li>
			<li class='dropdown'>
				<a href="#" class='dropdown-toggle' data-toggle='dropdown'>Members <span class="caret"></span></a>
				<ul class='dropdown-menu'>
					<%if(memberNames!=undefined){%>
						<%memberNames.forEach(function(member){%>
						<li><a href='#'>
							<%=member%>
							</a></li>
					<%});%>
					<%}%>
				</ul>
			</li>
		</ul>
	</div>

</div>
</nav>
<div class="jumbotron text-success"  style='background-color:#FF9E80;color:white;'>
	<center><h1>Who all are free?</h1>
	<p>Select day and timings to get to know who all free.</p>
</div>
<div class='container-fluid' style='margin-top:100px;'>
	<form method='post' action='/slots/find' enctype='form-data/multipart'>
		<div class='form-group'>
			<div class='container'>
			<div class="col-sm-1"></div>
			<div class='col-sm-2'>
				<center><label>Monday</label><br>
				<input type='radio' name='day' value='MON'></center>
			</div>
			<div class='col-sm-2'>
				<center><label>Tuesday</label><br>
				<input type='radio' name='day' value='TUE'></center>
			</div>
			<div class='col-sm-2'>
				<center><label>Wednesday</label><br>
				<input type='radio' name='day' value='WED'></center>
			</div>
			<div class='col-sm-2'>
				<center><label>Thursday</label><br>
				<input type='radio' name='day' value='THU'></center>
			</div>
			<div class='col-sm-2'>
				<center><label>Friday</label><br>
				<input type='radio' name='day' value='FRI'></center>
			</div>
			<div class="col-sm-1"></div>
			</div><br><br><br><br>
			<div class='container'>
			<div class='col-sm-1'>
				<center><label>08:00 to 08:50</label><br>
				<input type='checkbox' name='time' value='08:00 AMto08:50 AM'></center>
			</div>
			<div class='col-sm-1'>
				<center><label>09:00 to 09:50 </label><br>
				<input type='checkbox' name='time' value='09:00 AMto09:40 AM'></center>
			</div>
			<div class='col-sm-1'>
				<center><label>10:00 to 10:50 </label><br>
				<input type='checkbox' name='time' value='10:00 AMto10:50 AM'></center>
			</div>
			<div class='col-sm-1'>
				<center><label>11:00 to 11:50 </label><br>
				<input type='checkbox' name='time' value='11:00 AMto11:40 AM'></center>
			</div>
			<div class='col-sm-1'>
				<center><label>12:00 to 12:50 </label><br>
				<input type='checkbox' name='time' value='11:50 AMto12:40 PM'></center>
			</div>
			<div class='col-sm-1'>
				<center><label>12:40 to 01:30 </label><br>
				<input type='checkbox' name='time' value='12:40 PMto01:30 PM'></center>
			</div>
			
			<div class='col-sm-1'>
				<center><label>02:00 to 02:50 </label><br>
				<input type='checkbox' name='time' value='02:00 PMto02:50 PM'></center>
			</div>
			<div class='col-sm-1'>
				<center><label>03:00 to 03:50 </label><br>
				<input type='checkbox' name='time' value='02:50 PMto03:40 PM'></center>
			</div>
			<div class='col-sm-1'>
				<center><label>04:00 to 04:50 </label><br>
				<input type='checkbox' name='time' value='04:00 PMto04:50 PM'></center>
			</div>
			<div class='col-sm-1'>
				<center><label>05:00 to 05:50 </label><br>
				<input type='checkbox' name='time' value='04:50 PMto05:40 PM'></center>
			</div>
			<div class='col-sm-1'> 
				<center><label>05:50 to 06:40 </label><br>
				<input type='checkbox' name='time' value='05:50 PMto06:40 PM'></center>
			</div>
			<div class='col-sm-1'>
				<center><label>07:00 to 07:50 </label><br>
				<input type='checkbox' name='time' value='06:50 PMto07:40 PM'></center>
			</div>
			</div><br><br><br><br>
			<div class="form-group">
				<center><input class='form-control btn btn-danger' style='width:100px;' value='Submit' type='submit'></center>
			</div>
		</div>
	</form>
</div>
</body>
</html>